$platinum: #e7e9e6ff;
$ash-gray: #bfc9c0ff;
$cultured: #efefefff;
$middle-grey: #8f8c87ff;
$jet: #303032ff;
$french-bistre: #786656ff;
$laurel-green: #a7ba9fff;
$camel: rgb(204, 170, 115);
$dark-green: #505f42ff;
$green: #54824f;
$mold: #5a9348;
$asparagus: #859f6aff;
$umber: #5a4c38ff;
$hunter-green: #476142ff;

$card-gradient: linear-gradient(-30deg, #859f6aff, #a7ba9fff);
